{% extends "room/base.html" %}
{% block content %}
<div class="card col-md-6">
        <div class="card-body">
            <form method="POST">
                <p>Room Request Update</p>
                <hr>
                部屋番号　　：　{{ form.room_number }}
                <hr>
                リクエスト　：　{{ form.request }}
                <hr>
                完了　　　　：　{{ form.comp }}
                <hr>
                <button type="submit" class="btn btn-dark">更新する</button>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}